<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

<!--   <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content="forum"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>TCard</title>

  

  <link type="text/css" rel="stylesheet" th:href="@{/resources/css/style.css}"/> -->

<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet<!-- "/>
     <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>登入頁面</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link  href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link  href="../dist/css/sb-admin-2.css" rel="stylesheet"/>

<!--   <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/> -->
    <!-- Custom Fonts -->
    <link  href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

<style>
        body {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
</style>

</head>

</html>
